*.out
*.log
*.res
*.tmpres
*.iml
.idea/
target/

dataset/minas/covtypeOrigNorm.csv
dataset/minas/fcTe.csv
dataset/minas/KDDTe5Classes.csv
dataset/minas/SynEDC20D40Norm.csv

dataset/echo/covtypeOrigNorm.arff
dataset/echo/fcTe.arff
dataset/echo/KDDTe5Classes.arff
dataset/echo/SynEDC20D40Norm.arff
