*.out
*.log
*.res
*.tmpres
*.iml
.idea/
target/
dataset/covtypeOrigNorm.csv
dataset/fcTe.csv
dataset/KDDTe5Classes.csv
dataset/SynEDC20D40Norm.csv
dataset/arff/covtypeOrigNorm.arff
dataset/arff/fcTe.arff
dataset/arff/KDDTe5Classes.arff
dataset/arff/SynEDC20D40Norm.arff
