*.iml
.idea/
target/
src/main/resources/covtypeOrigNorm_fold1_ini
src/main/resources/covtypeOrigNorm_fold1_onl
src/main/resources/fcTe_fold1_ini
src/main/resources/fcTe_fold1_onl
src/main/resources/KDDTe5Classes_fold1_ini
src/main/resources/KDDTe5Classes_fold1_onl
src/main/resources/SynEDC20D40Norm_fold1_ini
src/main/resources/SynEDC20D40Norm_fold1_onl
